.mainPayMethod{
    min-height: 400px;
    background: #fff;
    padding: 3rem;
    display: flex;   
}

.leftPay{
    flex: 6;
}

.rightPay{
    flex: 4;
}

.methodPay{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #2579f2;
    padding: 2rem 1rem; 
    margin-right: 20px;
    border-radius: 8px;
}

.methodPay h4{
    font-size: 24px;
    font-weight: bold;
}
.group-inputPay{
    display: flex;
    flex-direction: column;
}

.group-inputPay input{
    width: 60%;
    padding: 0.7rem 1.2rem;
    line-height: 1rem;
    border: 1px solid #2579f2;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    background: none;
}

.group-inputPay label{
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 0.5rem;
}

.group-inputPayRadio{
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #113465;
    padding: 1rem;
    border-radius: 8px;
}

.inputPayRadio{
    width: 30px;
    height: 30px;
}

.contextDelivery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.group-inputPayRadio .contextDelivery span{
    font-weight: 500;
    font-size: 19px;
}

.imgBank{
    display: flex;
    gap: 0.5rem;
}

.imgBank img{
    width: 70px;
    height: 70px;
}

/* Đơn hàng*/

.itemPay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 16px;
}

.itemPay img{
    width: 60px;
    height: 60px;
}

.itemPay span{
    font-weight: 500;
    font-size: 15px;
    color: #ED1C24;
}

/* Hoàn tất đơn hàng*/
.completeOrder{
    width: 90%;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.completeOrderDetail{
    display: flex;
    justify-content: space-between;
}

.completeOrderDetail span{
    font-size: 16px;
    font-weight: 500;
}

.btn-completeOrder{
    height: 2.7rem;
    padding: 0.5rem 1rem;
    border: none;
    background: #ED1C24;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 8px;
    margin-top: 20px;
}

.btn-completeOrder:hover{
    background: #ff7b39;
}
