.container-input-promotion{
    background: #fff;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.reason, 
.type-promotion,
.ap-dung,
.input-promotion{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0px 0px 5px 5px #999999;
}


/*Lý do khuyến mãi*/

#description-promotion{
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1rem;
    font-size: 16px;
    font-weight: 500;
}

/*Loại khuyến mãi*/

.type-promotion{
    font-size: 16px;
    font-weight: 500;
}

.group-input-radio-promotion{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.group-input-promotion{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group-input-promotion label{
    font-size: 17px;
    font-weight: 600;
}

.group-input-promotion input{
    padding: 0.5rem 1rem;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    width: 50%;
}

.item-promotion{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 20% 20% 10% 20%;
    border: 1px solid #e5e5e5;
    padding: 10px;
    gap: 10px;
    margin-bottom: 0px !important;
}

.item-promotion input{ 
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
}


/* all */

.input-all-promotion label{
    font-size: 17px;
    font-weight: 600;
}

.group-present-all{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.group-present-all input{
    width: 20%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc6c6;
    border-radius: 8px;
}

.time-all{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.group-date-all{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.group-date-all input{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc6c6;
    border-radius: 8px;
}

.input-all-promotion p{
    color: red;
    margin-top: 10px;
    margin-left: 60px;
}